public/checkout.html
<!doctype html><html lang="ru"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"><meta name="format-detection" content="telephone=no"><meta charset="utf-8"><title>Оформление заказа</title><meta name="description" content=""><script defer="defer" src="/assets/js/vendors.js"></script><script defer="defer" src="/assets/js/app.js"></script><link href="/assets/css/vendors.css" rel="stylesheet"><link href="/assets/css/app.css" rel="stylesheet"></head><body class="body body--grey"><div id="app"><header class="h-lk"><div class="h-lk__container container container--lk"><div class="row"><div class="h-lk__logo-wrp col-lg-3"><a class="h-lk__logo" href="#"><img src="/assets/img/logotype/logotype.svg" alt=""></a></div><div class="h-lk__parts-wrp col-md-12 col-lg-9"><div class="h-lk__part h-lk__part--company h-lk__part--hidden-xs"><p class="h-lk__part-bold">Компания</p><p class="h-lk__part-thin">Название компании</p></div><div class="h-lk__part h-lk__part--employee h-lk__part--hidden-xs"><p class="h-lk__part-bold">Сотрудник</p><p class="h-lk__part-thin">Лазарев И.В.<span>Менеджер по продажам</span></p></div><div class="h-lk__part h-lk__part--order-number h-lk__part--bordered order-number"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><div class="h-lk__part h-lk__part--bordered h-lk__part--sum"><p class="h-lk__part-bold">Сумма заказа</p><p class="h-lk__part-thin">3499 &#8381;</p></div><div class="h-lk__part h-lk__part--side h-lk__part--bordered"><a class="logout-btn" href="#"><span>Выйти</span></a><a class="nav__btn-toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></a></div></div></div></div></header><div class="container"><div class="row"><div class="col-md-12 col-lg-3"><div style="height:100%"><div class="js-height-clearfix"></div><nav class="sidebar sidebar--lk"><a class="btn-prev" href="#">Вернуться в каталог</a><div class="sidebar__hidden-xs"><div class="order-number order-number--lined"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><a class="warning-link" href="#">Закончить оформление заказа</a><ul class="sidebar__list"><li class="sidebar__item"><p class="sidebar__link sidebar__link--active">Текущие заказы</p></li><li class="sidebar__item"><a class="sidebar__link" href="#">История заказов</a></li></ul><ul class="sidebar__list"><li class="sidebar__item"><a class="sidebar__link" href="#">Сменить пароль</a></li><li class="sidebar__item"><a class="sidebar__link" href="#">Настроить акаунт</a></li></ul></div></nav></div></div><div class="col-md-12 col-lg-9 white-bg"><div class="lk"><p class="page-title">Оформление заказа</p><table class="pretty-table pretty-table--checkout"><thead><th></th><th>Название подразделения</th><th>Сотрудник</th><th>Вес посылки</th><th>Стоимость</th><th>Комментарий</th><th></th></thead><tbody><tr><td class="number"><p class="number__number">Заказ №12</p><p class="number__name">Наименование заказа</p></td><td class="branch">Название подразделения</td><td class="employee">Лавреньтьев И. В.</td><td class="weight">1267 грам</td><td class="price">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.24609 18H1.79753L2.82181 16.9757C3.37409 16.4234 3.71897 15.7051 3.81169 14.9259C1.44661 13.3738 0.269531 11.1253 0.269531 8.76812C0.269531 4.41936 4.26645 0 10.5261 0C17.1575 0 20.7134 4.06664 20.7134 8.38712C20.7134 12.7361 17.1199 16.8 10.5261 16.8C9.37101 16.8 8.16569 16.6458 7.08957 16.3629C6.07089 17.4077 4.69065 18 3.24609 18Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="btns"><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number"><p class="number__number">Заказ №12</p><p class="number__name">Наименование заказа</p></td><td class="branch">Название подразделения</td><td class="employee">Лавреньтьев И. В.</td><td class="weight">1267 грам</td><td class="price">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.24609 18H1.79753L2.82181 16.9757C3.37409 16.4234 3.71897 15.7051 3.81169 14.9259C1.44661 13.3738 0.269531 11.1253 0.269531 8.76812C0.269531 4.41936 4.26645 0 10.5261 0C17.1575 0 20.7134 4.06664 20.7134 8.38712C20.7134 12.7361 17.1199 16.8 10.5261 16.8C9.37101 16.8 8.16569 16.6458 7.08957 16.3629C6.07089 17.4077 4.69065 18 3.24609 18Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="btns"><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number"><p class="number__number">Заказ №12</p><p class="number__name">Наименование заказа</p></td><td class="branch">Название подразделения</td><td class="employee">Лавреньтьев И. В.</td><td class="weight">1267 грам</td><td class="price">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.24609 18H1.79753L2.82181 16.9757C3.37409 16.4234 3.71897 15.7051 3.81169 14.9259C1.44661 13.3738 0.269531 11.1253 0.269531 8.76812C0.269531 4.41936 4.26645 0 10.5261 0C17.1575 0 20.7134 4.06664 20.7134 8.38712C20.7134 12.7361 17.1199 16.8 10.5261 16.8C9.37101 16.8 8.16569 16.6458 7.08957 16.3629C6.07089 17.4077 4.69065 18 3.24609 18Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="btns"><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr></tbody></table><div class="checkout-total"><p class="checkout-total__title">Итого:</p><p class="checkout-total__weight">2.5кг</p><p class="checkout-total__value">70 010 &#8381;</p></div><form class="c-form" method="post" action="/assets/data/message-success.json" novalidate><div class="c-form__section"><p class="form-title">Адрес доставки</p><div class="c-form__address-line"><div class="input-line"><p class="input-line__label">Страна</p><input class="input-line__input" name="country" required data-value-missing="Пожалуйста, заполните поле" data-value-invalid="Пожалуйста введите корректное значение"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="input-line"><p class="input-line__label">Город</p><input class="input-line__input" name="city" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="input-line"><p class="input-line__label">Улица</p><input class="input-line__input" name="street" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="input-line"><p class="input-line__label">Индекс</p><input class="input-line__input" name="zipcode" required pattern="[0-9]{6}" data-value-missing="Пожалуйста, заполните поле" data-value-invalid="Индекс должен содержать только 6 цифр"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="c-form__three"><div class="input-line"><p class="input-line__label">Дом</p><input class="input-line__input" name="house" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="input-line"><p class="input-line__label">Корпус</p><input class="input-line__input" name="build"></div><div class="input-line"><p class="input-line__label">Офис</p><input class="input-line__input" name="office"></div></div></div></div><div class="c-form__section"><p class="form-title">Контакты получателя</p><div class="c-form__contacts-line"><div class="input-line"><p class="input-line__label">ФИО</p><input class="input-line__input" name="fio" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="input-line"><p class="input-line__label">Телефон</p><input class="input-line__input input-line__input--tel" type="tel" name="phone" required minlength="16" data-value-missing="Пожалуйста, заполните поле" data-value-invalid="Формат: +7 (___) ___-__-__"><p class="c-form__inline-error hidden" aria-live="polite"></p></div></div></div><div class="c-form__section"><p class="form-title">Способ доставки</p><div class="select-list"><div class="select"><select name="delivery-type"><option value="1">Москва, курьер</option><option value="2">Major, курьер</option><option value="3">СДЕК</option><option value="4">Деловые линии</option></select></div><div class="radio-list"><label class="radio-list__item"><input class="radio-list__input" type="radio" name="rb-delivery-type" value="1" checked="checked"><p class="radio-list__label">Москва, курьер</p></label> <label class="radio-list__item"><input class="radio-list__input" type="radio" name="rb-delivery-type" value="2"><p class="radio-list__label">Major, курьер</p></label> <label class="radio-list__item"><input class="radio-list__input" type="radio" name="rb-delivery-type" value="3"><p class="radio-list__label">СДЕК</p></label> <label class="radio-list__item"><input class="radio-list__input" type="radio" name="rb-delivery-type" value="4"><p class="radio-list__label">Деловые линии</p></label></div></div><input class="input-line__input" name="other-delivery" placeholder="Другая компания"><p class="c-form__descr">Напишите название транспортной компании, услугами которой хотите воспользоваться</p></div><div class="c-form__section"><p class="form-title">Способ оплаты</p><div class="select-list"><div class="select"><select name="pay-type"><option value="1">Безналичный расчёт</option><option value="2">Картой онлайн</option><option value="3">Оплата курьеру, наличный расчёт</option></select></div><div class="radio-list"><label class="radio-list__item"><input class="radio-list__input" type="radio" name="rb-pay-type" value="1" checked="checked"><p class="radio-list__label">Безналичный расчёт</p></label> <label class="radio-list__item"><input class="radio-list__input" type="radio" name="rb-pay-type" value="2"><p class="radio-list__label">Картой онлайн</p></label> <label class="radio-list__item"><input class="radio-list__input" type="radio" name="rb-pay-type" value="3"><p class="radio-list__label">Оплата курьеру, наличный расчёт</p></label></div></div><p class="c-form__descr">Инфомационное сообщение по данному способу оплаты</p></div><div class="cart-footer"><div class="cart-footer__msg-wrp"><p class="cart-footer__msg-header">Комментарий к доставке и оплате</p><textarea class="cart-footer__msg" placeholder="Ваш комментарий"></textarea></div><div class="cart-footer__footer"><button class="c-form__submit button button--black success-hide" data-wait="Минуту...">Отправить заказ</button></div></div><p class="c-form__descr success-hide">После отправки заказа, дальнейшее изменение заказа через сайт - не доступно. Просьюба связаться с менеджером</p></form></div><div class="modal modal--delete modal--delete-order"><div class="modal__window"><div class="modal__body"><div class="delete-order"><p class="delete-order__header">Заказ</p><p class="delete-order__number">№ 12</p></div><div class="modal__title modal__title--f30">Подтвердите удаление заказа</div><div class="modal__content"><div class="modal__btns-line"><button class="button button--black">Подтвердить</button><a class="modal__link modal__link--close-popup">Отменить</a></div><p class="modal__counter">Окно закроется автоматически через <span class="seconds">15</span>секунд</p></div></div></div></div></div></div></div><footer class="footer"><div class="container"><div class="logotype-block"><a class="logotype-block__wrapper" href="#" title="Stailer group"><img class="logotype-block__image" src="/assets/img/logotype/logo-white.svg"></a></div><nav class="nav nav--large-mb"><ul class="nav__list"><li class="nav__item"><a class="nav__link nav__link--light" href="catalog.html" alt="Каталог">Каталог</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="about.html" alt="О нас">О нас</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="terms.html" alt="Условия сотрудничества">Условия сотрудничества</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="delivery.html" alt="Доставка">Доставка</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="contacts.html" alt="Контакты">Контакты</a></li></ul></nav><ul class="copyright"><li class="copyright__item copyright--order">&#169; 2015-21 Stailer</li><li class="copyright__item">Malaya Pirogovskaya str,<br>119435 Moscow, Russia</li><li class="copyright__item"><a class="copyright__link" href="tel:+74952800798" title="Позвоните нам">Tel: +7 495 280–07–98</a></li><li class="copyright__item"><a class="copyright__link" href="mailto:cis@stailer.com" title="Напишите нам">E-mail: cis@stailer.com</a></li></ul><ul class="footer__privacy"><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Правовая информация</a></li><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Обработка персональных данных</a></li></ul></div></footer></div><div class="btn-to-top"><div class="btn-to-top__wrap"><img src="/assets/img/icons/to-top.png"></div></div></body></html>

src/pug/pages/checkout.pug
extends ../layout/lk-layout

block variables
	- var title = 'Оформление заказа';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Оформление заказа
		table.pretty-table.pretty-table--checkout
			thead
				th 
				th Название подразделения
				th Сотрудник
				th Вес посылки
				th Стоимость
				th Комментарий
				th
			tbody
				- for (var i=0; i<3; i++)
					tr
						td.number
							p.number__number Заказ №12
							p.number__name Наименование заказа
						td.branch Название подразделения
						td.employee Лавреньтьев И. В.
						td.weight 1267 грам
						td.price 602 400 &#8381;
						td.comment
							.comment-popup
								button.icon-btn.icon-btn--comment(data-id="563833")
									<svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.24609 18H1.79753L2.82181 16.9757C3.37409 16.4234 3.71897 15.7051 3.81169 14.9259C1.44661 13.3738 0.269531 11.1253 0.269531 8.76812C0.269531 4.41936 4.26645 0 10.5261 0C17.1575 0 20.7134 4.06664 20.7134 8.38712C20.7134 12.7361 17.1199 16.8 10.5261 16.8C9.37101 16.8 8.16569 16.6458 7.08957 16.3629C6.07089 17.4077 4.69065 18 3.24609 18Z" fill="black"/>
									</svg>
								.comment-popup__popup
									p Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.
						td.btns
							button.icon-btn.icon-btn--delete(data-order, data-id="563833")
								<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
									<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
								</svg>
		.checkout-total
			p.checkout-total__title Итого:
			p.checkout-total__weight 2.5кг
			p.checkout-total__value 70 010 &#8381;
		form.c-form(method="post", action="/assets/data/message-success.json", novalidate)
			.c-form__section
				p.form-title Адрес доставки
				.c-form__address-line
					.input-line
						p.input-line__label Страна
						input.input-line__input(type="text", name="country", required,
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Пожалуйста введите корректное значение")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Город
						input.input-line__input(type="text", name="city", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Улица
						input.input-line__input(type="text", name="street", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Индекс
						input.input-line__input(type="text", name="zipcode", required,
							pattern="[0-9]{6}",
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Индекс должен содержать только 6 цифр")
						p.c-form__inline-error.hidden(aria-live="polite")
					.c-form__three
						.input-line
							p.input-line__label Дом
							input.input-line__input(type="text", name="house", required,
							data-value-missing="Пожалуйста, заполните поле")
							p.c-form__inline-error.hidden(aria-live="polite")
						.input-line
							p.input-line__label Корпус
							input.input-line__input(type="text", name="build")
						.input-line
							p.input-line__label Офис
							input.input-line__input(type="text", name="office")
			.c-form__section
				p.form-title Контакты получателя
				.c-form__contacts-line
					.input-line
						p.input-line__label ФИО
						input.input-line__input(type="text", name="fio", required,
						data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Телефон
						input.input-line__input.input-line__input--tel(type="tel", name="phone", required,
							minlength="16",
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Формат: +7 (___) ___-__-__")
						p.c-form__inline-error.hidden(aria-live="polite")
			.c-form__section
				p.form-title Способ доставки
				.select-list
					.select
						select(name="delivery-type")
							option(value="1") Москва, курьер
							option(value="2") Major, курьер
							option(value="3") СДЕК
							option(value="4") Деловые линии
					.radio-list
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-delivery-type", value="1", checked)
							p.radio-list__label Москва, курьер
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-delivery-type", value="2")
							p.radio-list__label Major, курьер
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-delivery-type", value="3")
							p.radio-list__label СДЕК
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-delivery-type", value="4")
							p.radio-list__label Деловые линии
				input.input-line__input(type="text", name="other-delivery", placeholder="Другая компания")
				p.c-form__descr Напишите название транспортной компании, услугами которой хотите воспользоваться
			.c-form__section
				p.form-title Способ оплаты
				.select-list
					.select
						select(name="pay-type")
							option(value="1") Безналичный расчёт
							option(value="2") Картой онлайн
							option(value="3") Оплата курьеру, наличный расчёт
					.radio-list
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-pay-type", value="1", checked)
							p.radio-list__label Безналичный расчёт
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-pay-type", value="2")
							p.radio-list__label Картой онлайн
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-pay-type", value="3")
							p.radio-list__label Оплата курьеру, наличный расчёт
				p.c-form__descr Инфомационное сообщение по данному способу оплаты
			.cart-footer
				.cart-footer__msg-wrp
					p.cart-footer__msg-header Комментарий к доставке и оплате
					textarea.cart-footer__msg(placeholder="Ваш комментарий")
				.cart-footer__footer
					button.c-form__submit.button.button--black.success-hide(data-wait="Минуту...") Отправить заказ
			p.c-form__descr.success-hide После отправки заказа, дальнейшее изменение заказа через сайт - не доступно. Просьюба связаться с менеджером
	+include-delete-order-popup()
