src/pug/pages/cooperation.pug
extends ../layout/main

block variables
    - var title = 'Условия сотрудничества';
    - var description = '';
    - var pageClass = 'body';
    - var headerClass = 'sticky animate__animated';

block content
    .container
        nav.breadcrumbs.breadcrumbs--pos
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Условия сотрудничества
            a.breadcrumbs__back(href="#" title="Назад")
        h1.page-title.page-title--mb Условия сотрудничества
        .page-image.page-image--mb
            .page-image__wrapper
                img.page-image__img(src="/assets/img/photos/clock.png" alt="Page image")
        .row
            .col-md-12.col-lg-6.order-2.order-lg-1
                .row
                    .col-md-12.col-xl-8.offset-xl-1.order-2.order-lx-1
                        .page-image.page-image--mb
                            .page-image__wrapper
                                img.page-image__img(src="/assets/img/photos/remeshki.png" alt="Page image")
                        .page-text.page-text--grey.
                            Наша компания не занимается розничными продажами физическим лицам.
                            Товары, представленные на сайте не являются публичной офертой, цена
                            указанная на сайте является справочной.
                        br
                        .content-pos.content-pos--mb-min
                            .page-text.page-text--grey По вопросам розничной покупки наших товаров вы можете обратиться к нашим официальным партнерам –
                                a(href="#" title="partner") remeshop.ru

                            div.comp
                                a.comp__link(href="#" title="Our partner")
                                    .comp__img-wrapper
                                        img.comp__image(src="/assets/img/logotype/remeshok.svg")

                    .col-sm-12.col-xl-8.offset-xl-1.order-1.order-xl-2
                        p.page-text
                                   |Если вы хотите стать нашим дилером и получить доступ к текущим остаткам и оптовым
                                   |ценам на товары, вам необходимо заключить договор о сотрудничестве с нашей компанией.
                        .line
                        p.page-text.page-text--mb
                            | Пожалуйста, свяжитесь с нами по адресу &nbsp;
                            a.contact.contact--bold(href="mailto:info@stailer-group.ru" alt="info@stailer-group.ru" title="info@stailer-group.ru") info@stailer-group.ru
                            |&nbsp; или заполните
                            |анкету на сайте, мы свяжемся с вами в кратчайшие сроки

            .col-md-12.col-lg-6.order-1.order-lg-2
                .form-block.form-block--pos
                    h2.form-block__title.js-form-toggler Анкета партнёра
                    form#partners-form-blank.form-block__form(method="POST" action="#")
                        .form-block__inner
                            .form-block__group
                                label.form-block__label
                                    span Город
                                    input.form-block__input(type="text" placeholder="Введите ваш город" name="city")
                            .form-block__group
                                label.form-block__label
                                    span Название компании
                                    input.form-block__input(type="text" placeholder="Название вашей компании" name="company")
                            .form-block__group
                                label.form-block__label
                                    span Юридическое лицо
                                    input.form-block__input(type="text" placeholder="Полное название вашего юридического лица" name="official_name")
                            .form-block__group
                                label.form-block__label
                                    span Контактное лицо
                                    input.form-block__input(type="text" placeholder="ФИО контактного лица" name="contact_name")
                            .form-block__group-50
                                .form-block__group.form-block__group--half
                                    label.form-block__label
                                        span Телефон
                                        input#phone-mask.form-block__input(type="text" placeholder="+7 (" name="phone")
                                .form-block__group.form-block__group--half
                                    label.form-block__label
                                        span Email
                                        input.form-block__input(type="text" placeholder="Ваш email" name="email")
                            .form-block__group
                                label.form-block__label
                                    span Сайт
                                    input#site-mask.form-block__input(type="text" placeholder="www." name="site")
                            .form-block__group-50
                                .form-block__group.form-block__group--half
                                    label.form-block__label
                                        span Вид деятельности
                                        input.form-block__input(type="text" placeholder="Выберите деятельность" name="activity")
                                .form-block__group.form-block__group--half
                                    label.form-block__label
                                        span Количество магазинов
                                        input.form-block__input(type="number" name="shop_count" placeholder="Введите колличество")
                            .form-block__group.js-address
                                label.form-block__label
                                    span Адрес магазина
                                    input.form-block__input(type="text" name="address" placeholder="Введите адрес магазина")
                            button.js-add-address.btn-order.btn-order--pos.btn-order--plus(type="button") Добавить еще адрес
                            .form-block__group
                                label.form-block__label
                                    span Комментарий
                                    textarea.form-block__input(placeholder="Ваш комментарий" rows=1)
                            .form-block__group
                                label.form-block__label.form-block__label--row(for="agree_terms")
                                    span Я даю согласие на обработку моих персональных данных
                                input#agree_terms.form-block__input.form-block__input--hidden(type="checkbox" name="agree_terms")
                            .form-block__group
                                input#submit-partners-blank.button.button--black(type="submit" value="Зарегистрироваться" data-wait="Подождите...")
                            .form-block__group
                                p Нажимая на кнопку, вы принимаете условия &nbsp;
                                    a(href="#" title="Условия оферты" style="text-decoration:underline") Публичной оферты
        .additionally.additionally--mb
            .additionally__title Остались вопросы?
            .additionally__info
                a.additionally__mail.mr-0.mr-md-5(href="mailto:mail@mai.com" title="mail") mail@mai.com
                a.additionally__tel(href="tel:+74952800798" title="mail") +7495-280-07-98

public/cooperation.html
<!doctype html><html lang="en"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"><meta name="format-detection" content="telephone=no"><meta charset="utf-8"><title>Условия сотрудничества</title><meta name="description" content=""><script defer="defer" src="/assets/js/vendors.js"></script><script defer="defer" src="/assets/js/app.js"></script><link href="/assets/css/vendors.css" rel="stylesheet"><link href="/assets/css/app.css" rel="stylesheet"></head><body class="body"><div id="app"><header class="header sticky animate__animated"><div class="container" style="position:relative"><div class="header__first-line"><div class="header__btn-group"><div class="header__btn-group--login-block"><a class="auth-link js-login-modal" href="#" alt="login"><div class="auth-link__image-wrapper"><img class="auth-link__image" src="/assets/img/icons/person.svg"></div><span>вход</span></a><a class="auth-link auth-link--lg js-register-modal" href="#" alt="login">регистрация</a></div><a class="nav__btn-toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></a></div></div><div class="logotype-block"><a class="logotype-block__wrapper" href="main-page.html" title="Stailer group"><img class="logotype-block__image" src="/assets/img/logotype/logotype.svg"></a><h1 class="header__tagline"><span>Оптовые поставки ремней и браслетов для часов</span><span class="header__tagline header__tagline--dark-grey">с 1996 года</span></h1></div><nav class="nav"><ul class="nav__list"><li class="nav__item nav__item--xs"><a class="nav__link js-login-modal" href="#">Вход</a></li><li class="nav__item nav__item--xs"><a class="nav__link js-register-modal" href="#">Регистрация</a></li><li class="nav__item"><a class="nav__link nav__link--after" href="#" alt="Каталог">Каталог</a><div class="sub-menu"><div class="sub-menu__inner"><div class="input-group d-lg-none"><label class="input-group__label" for="search-item">Поиск по каталогу</label> <input class="input-group__input-catalog" id="search-item"></div><ul class="sub-menu__list"><li class="sub-menu__item"><a class="sub-menu__link" href="catalog.html" alt="Кожаные ремни">Кожаные ремни</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="about.html" alt="Стальные браслеты">Стальные браслеты</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="delivery.html" alt="Ремни нейлоновые">Ремни нейлоновые</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="terms.html" alt="Батарейки">Батарейки</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="contacts.html" alt="Каучук">Каучук</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="cata.html" alt="Инструменты">Инструменты</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="abo.html" alt="Механизмы">Механизмы</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="deli.html" alt="Клипсы">Клипсы</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="term.html" alt="Пластик">Пластик</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="contact.html" alt="Шпильки">Шпильки</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="del.html" alt="Стекла для часов">Стекла для часов</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="ter.html" alt="Торговое оборудование">Торговое оборудование</a></li><li class="sub-menu__item"><a class="sub-menu__link" href="cont.html" alt="Аксессуары">Аксессуары</a></li></ul><div class="promotion"><a class="promotion__link" href="#" title="Распродажа"><div class="promotion__info"><h1 class="promotion__title">Расспродажа<br>замков от ремней</h1><p class="promotion__desc">Предложение для<br>постоянных клиентов</p></div><div class="promotion__image-wrapper"><img src="/assets/img/photos/promotion.png" alt="promotion" style="width:100%"></div></a></div></div></div></li><li class="nav__item"><a class="nav__link" href="#" alt="О нас">О нас</a></li><li class="nav__item"><a class="nav__link" href="#" alt="Условия сотрудничества">Условия сотрудничества</a></li><li class="nav__item"><a class="nav__link" href="#" alt="Доставка">Доставка</a></li><li class="nav__item"><a class="nav__link" href="#" alt="Каталог">Контакты</a></li></ul></nav></div></header><div class="container"><nav class="breadcrumbs breadcrumbs--pos"><ul class="breadcrumbs__list"><li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная</a></li><li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Условия сотрудничества</a></li></ul><a class="breadcrumbs__back" href="#" title="Назад"></a></nav><h1 class="page-title page-title--mb">Условия сотрудничества</h1><div class="page-image page-image--mb"><div class="page-image__wrapper"><img class="page-image__img" src="/assets/img/photos/clock.png" alt="Page image"></div></div><div class="row"><div class="col-md-12 col-lg-6 order-2 order-lg-1"><div class="row"><div class="col-md-12 col-xl-8 offset-xl-1 order-2 order-lx-1"><div class="page-image page-image--mb"><div class="page-image__wrapper"><img class="page-image__img" src="/assets/img/photos/remeshki.png" alt="Page image"></div></div><div class="page-text page-text--grey">Наша компания не занимается розничными продажами физическим лицам. Товары, представленные на сайте не являются публичной офертой, цена указанная на сайте является справочной.</div><br><div class="content-pos content-pos--mb-min"><div class="page-text page-text--grey">По вопросам розничной покупки наших товаров вы можете обратиться к нашим официальным партнерам –<a href="#" title="partner">remeshop.ru</a></div><div class="comp"><a class="comp__link" href="#" title="Our partner"><div class="comp__img-wrapper"><img class="comp__image" src="/assets/img/logotype/remeshok.svg"></div></a></div></div></div><div class="col-sm-12 col-xl-8 offset-xl-1 order-1 order-xl-2"><p class="page-text">Если вы хотите стать нашим дилером и получить доступ к текущим остаткам и оптовым ценам на товары, вам необходимо заключить договор о сотрудничестве с нашей компанией.</p><div class="line"></div><p class="page-text page-text--mb">Пожалуйста, свяжитесь с нами по адресу &nbsp;<a class="contact contact--bold" href="mailto:info@stailer-group.ru" alt="info@stailer-group.ru" title="info@stailer-group.ru">info@stailer-group.ru</a>&nbsp; или заполните анкету на сайте, мы свяжемся с вами в кратчайшие сроки</p></div></div></div><div class="col-md-12 col-lg-6 order-1 order-lg-2"><div class="form-block form-block--pos"><h2 class="form-block__title js-form-toggler">Анкета партнёра</h2><form class="form-block__form" id="partners-form-blank" method="POST" action="#"><div class="form-block__inner"><div class="form-block__group"><label class="form-block__label"><span>Город</span> <input class="form-block__input" placeholder="Введите ваш город" name="city"></label></div><div class="form-block__group"><label class="form-block__label"><span>Название компании</span> <input class="form-block__input" placeholder="Название вашей компании" name="company"></label></div><div class="form-block__group"><label class="form-block__label"><span>Юридическое лицо</span> <input class="form-block__input" placeholder="Полное название вашего юридического лица" name="official_name"></label></div><div class="form-block__group"><label class="form-block__label"><span>Контактное лицо</span> <input class="form-block__input" placeholder="ФИО контактного лица" name="contact_name"></label></div><div class="form-block__group-50"><div class="form-block__group form-block__group--half"><label class="form-block__label"><span>Телефон</span> <input class="form-block__input" id="phone-mask" placeholder="+7 (" name="phone"></label></div><div class="form-block__group form-block__group--half"><label class="form-block__label"><span>Email</span> <input class="form-block__input" placeholder="Ваш email" name="email"></label></div></div><div class="form-block__group"><label class="form-block__label"><span>Сайт</span> <input class="form-block__input" id="site-mask" placeholder="www." name="site"></label></div><div class="form-block__group-50"><div class="form-block__group form-block__group--half"><label class="form-block__label"><span>Вид деятельности</span> <input class="form-block__input" placeholder="Выберите деятельность" name="activity"></label></div><div class="form-block__group form-block__group--half"><label class="form-block__label"><span>Количество магазинов</span> <input class="form-block__input" type="number" name="shop_count" placeholder="Введите колличество"></label></div></div><div class="form-block__group js-address"><label class="form-block__label"><span>Адрес магазина</span> <input class="form-block__input" name="address" placeholder="Введите адрес магазина"></label></div><button class="js-add-address btn-order btn-order--pos btn-order--plus" type="button">Добавить еще адрес</button><div class="form-block__group"><label class="form-block__label"><span>Комментарий</span> <textarea class="form-block__input" placeholder="Ваш комментарий" rows="1"></textarea></label></div><div class="form-block__group"><label class="form-block__label form-block__label--row" for="agree_terms"><span>Я даю согласие на обработку моих персональных данных</span></label> <input class="form-block__input form-block__input--hidden" id="agree_terms" type="checkbox" name="agree_terms"></div><div class="form-block__group"><input class="button button--black" id="submit-partners-blank" type="submit" value="Зарегистрироваться" data-wait="Подождите..."></div><div class="form-block__group"><p>Нажимая на кнопку, вы принимаете условия &nbsp;<a href="#" title="Условия оферты" style="text-decoration:underline">Публичной оферты</a></p></div></div></form></div></div></div><div class="additionally additionally--mb"><div class="additionally__title">Остались вопросы?</div><div class="additionally__info"><a class="additionally__mail mr-0 mr-md-5" href="mailto:mail@mai.com" title="mail">mail@mai.com</a><a class="additionally__tel" href="tel:+74952800798" title="mail">+7495-280-07-98</a></div></div></div><footer class="footer"><div class="container"><div class="logotype-block"><a class="logotype-block__wrapper" href="#" title="Stailer group"><img class="logotype-block__image" src="/assets/img/logotype/logo-white.svg"></a></div><nav class="nav nav--large-mb"><ul class="nav__list"><li class="nav__item"><a class="nav__link nav__link--light" href="catalog.html" alt="Каталог">Каталог</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="about.html" alt="О нас">О нас</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="terms.html" alt="Условия сотрудничества">Условия сотрудничества</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="delivery.html" alt="Доставка">Доставка</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="contacts.html" alt="Контакты">Контакты</a></li></ul></nav><ul class="copyright"><li class="copyright__item copyright--order">&#169; 2015-21 Stailer</li><li class="copyright__item">Malaya Pirogovskaya str,<br>119435 Moscow, Russia</li><li class="copyright__item"><a class="copyright__link" href="tel:+74952800798" title="Позвоните нам">Tel: +7 495 280–07–98</a></li><li class="copyright__item"><a class="copyright__link" href="mailto:cis@stailer.com" title="Напишите нам">E-mail: cis@stailer.com</a></li></ul><ul class="footer__privacy"><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Правовая информация</a></li><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Обработка персональных данных</a></li></ul></div></footer></div><div class="btn-to-top"><div class="btn-to-top__wrap"><img src="/assets/img/icons/to-top.png"></div></div><div class="modal modal-news" data-target-modal="news"><div class="modal__window"><div class="modal__close modal__btn-close"></div><div class="modal__header" style="background-image:url(&quot;/assets/img/photos/modal.png&quot;)"></div><div class="modal__body"><div class="modal__title">Заголовок новости или рекламного сообщения</div><div class="modal__content"><p class="modal__content--paragraph">В наличии постоянно представлено более 5000 различных ремней для часов разных размеров, длины, фактуры, цветов. Мы постоянно работаем над совершенствованием и расширением нашего модельного ряда и качеством предоставляемых нами услуг.</p><p class="modal__content--paragraph">Многолетний положительный опыт сотрудничества с сотнями клиентов из различных регионов России, а также стран СНГ позволяет нам предоставлять гибкую систему скидок, а также обеспечивать оперативный сбор и отправку даже самых сложных заказов.</p></div></div></div></div><div class="modal modal-login"><div class="modal__window"><div class="modal__close modal__close-btn"></div><div class="modal__header"><div class="modal__title">Вход в личный кабинет</div></div><div class="modal__body"><form class="form" id="authorization" method="POST" action="#"><div class="form__group"><label class="form__label"><span>Email / Телефон</span> <input class="form__input" placeholder="Введите ваш email или телефон" name="login"></label></div><div class="form__group"><label class="form__label"><span>Пароль</span> <input class="form__input" type="password" name="Введите пароль"></label></div><div class="form__group"><input class="button button--black" type="submit" value="Войти"></div></form></div><div class="modal__footer"><button class="btn-link js-forget-pass" type="button">Восстановить пароль</button></div></div></div><div class="modal modal-register-warning"><div class="modal__window"><div class="modal__close modal__close-btn"></div><div class="modal__header"><div class="modal__title">Регистрация в личном кабинете</div></div><div class="modal__body"><p class="modal__info">Тектовая информация о том, что зарегистрироваться может только владелец бизнеса.</p><button class="button button--black js-reg-open" type="button">Перейти к регистрации</button></div></div></div><div class="modal modal-register"><div class="modal__window"><div class="modal__close modal__close-btn"></div><div class="modal__header"><div class="modal__title modal__title--f30">Регистрация в личном кабинете</div><div class="modal__desc">Вводная информация по регистрации, процедуре, сроках, условиях сотрудничества.</div></div><div class="modal__body"><form class="form" id="registration" method="POST" action="#"><div class="form__group"><div class="modal__title">Информация о компании</div></div><div class="form__group"><label class="form__label"><span>Юридическое лицо</span> <input class="form__input" placeholder="Полное название вашего юридического лица" name="entity"></label></div><div class="form__group"><div class="row"><div class="col-sm-12 col-md-6"><label class="form__label"><span>Тип бизнеса</span> <select class="form__input" name="business"><option value="" disabled="disabled" selected="selected">Выберите ваш тип бизнеса</option><option value="1">Малый</option><option value="2">Средний</option><option value="3">Крупный</option></select></label></div><div class="col-sm-12 col-md-6"></div></div></div><div class="form__group"><div class="row"><div class="col-sm-12 col-md-6"><label class="form__label"><span>Страна</span> <select class="form__input" name="country"><option value="" disabled="disabled" selected="selected">Выберите страну</option><option value="Россия">Россия</option><option value="Италия">Италия</option><option value="Франция">Франция</option></select></label></div><div class="col-sm-12 col-md-6"><label class="form__label"><span>Город</span> <select class="form__input" name="city"><option value="" disabled="disabled" selected="selected">Выберите город</option><option value="Москва">Москва</option><option value="Санкт-Петербург">Санкт-Петербург</option><option value="Ярославль">Ярославль</option></select></label></div></div></div><div class="form__group form__label"><div style="margin-bottom:1rem">Являетесь ли вы нашим клиентом</div><div class="form__label form__group--row"><label class="form__label form__label--radio"><input type="radio" name="customer" value="true" style="margin-right:1rem"><span>да, я ваш клиент</span></label> <label class="form__label form__label--radio"><input type="radio" name="customer" value="true" style="margin-right:1rem" checked="checked"><span>нет</span></label></div></div><div class="form__group form__label"><div style="margin-bottom:1rem">Занимаетесь ли уже другими ремнями</div><div class="form__label form__group--row"><label class="form__label form__label--radio"><input type="radio" name="isSeller" value="true" style="margin-right:1rem"><span>да</span></label> <label class="form__label form__label--radio"><input type="radio" name="isSeller" value="true" style="margin-right:1rem" checked="checked"><span>нет</span></label></div></div><div class="form__group" style="margin-bottom: 3.8rem"><label class="form__label"><span>Комментарий</span> <textarea class="form__input" placeholder="Напишите ваш комментарний к регистрации " name="comment" rows="3"></textarea></label></div><div class="modal__title">Контактная информация клиента</div><div class="form__group"><div class="row"><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>ФИО</span> <input class="form__input" placeholder="Введите полное имя" name="user-name"></label></div></div><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>Должность</span> <input class="form__input" placeholder="Введите должность" name="position"></label></div></div></div></div><div class="form__group"><div class="row"><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>Email</span> <input class="form__input" id="regEmail" placeholder="Введите email" name="email"><small class="form__help form__help--12">На указанный адрес, вам придет доступ к личному кабинету</small></label></div></div><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>Телефон</span> <input class="form__input" type="phone" placeholder="+7(xxx)xxx-xx-xx" name="phone"></label></div></div></div></div><div class="form__group"><label class="form__label form__label form__label--checkbox" for="agree_news"><span style="padding: 0.2rem 0 0 3rem">Подписаться на новостную рассылку</span></label> <input class="form__input form__input--checkbox" id="agree_news" type="checkbox" name="agree_news"></div><div class="form__group"><label class="form__label form__label form__label--checkbox" for="agree_terms_checkbox"><span style="padding: 0.2rem 0 0 3rem">Я даю согласие на обработку моих персональных данных</span></label> <input class="form__input form__input--checkbox" id="agree_terms_checkbox" type="checkbox" name="agree_terms_val"></div><div class="form__group form__group--row-between"><input class="button button--black" id="regBtn" type="submit" value="Зарегистрироваться" data-wait-register="Подождите..."> <button class="btn-link form__reset-btn" type="reset"><span>Очистить поля</span></button></div><div class="form__group"><p class="form__label form__group--row">Нажимая на кнопку, вы принимаете условия &nbsp;<a href="#" title="Условия оферты" style="text-decoration:underline">Публичной оферты</a></p></div></form></div></div></div><div class="modal modal-forget-password"><div class="modal__window"><div class="modal__close modal__close-btn"></div><div class="modal__header"><div class="modal__title">Забыли пароль?</div></div><div class="modal__body"><form class="form" id="forgerPass" method="POST" action="#"><div class="form__group"><label class="form__label"><span>Email</span> <input class="form__input" type="email" placeholder="Введите ваш email" name="email"><small class="form__help">На данный адрес мы отправим<br>новый пароль</small></label></div><div class="form__group"><input class="button button--black" type="submit" value="Отправить новый пароль"></div></form></div></div></div><div class="modal modal-status"><div class="modal__window"><div class="modal__close modal__close-btn"></div><div class="modal__header"><div class="modal__title" style="text-align:center"></div></div><div class="modal__body"><p class="modal__info" style="text-align:center"></p></div></div></div><div class="modal modal-status-order-complete"><div class="modal__window"><div class="modal__close modal__close-btn"></div><div class="modal__header"><div class="modal__title" style="text-align:center">Ваш заказ №12 отправлен на исполнение</div></div><div class="modal__body"><p class="modal__info" style="text-align:center; padding: 0 3rem; max-width: 320px">В ближайшее время мы приступим к сборке вашего заказа</p></div><div class="modal__footer"><p class="modal__info modal__info--grey" style="text-align:center; padding: 2rem 0; max-width: 320px">Всю информацию по Вашему заказу мы так же направили вам на электроную почту</p></div></div></div><div class="modal modal-status-order-start"><div class="modal__window"><div class="modal__close modal__close-btn"></div><div class="modal__header"><div class="modal__title" style="text-align:center">Ваш заказ №12 отправлен на проверку и утверждение</div></div><div class="modal__body"><p class="modal__info"></p><div class="modal__link-block"><a class="modal__link" href="#" title="Каталог">Перейти в каталог</a><a class="modal__link" href="#" title="Личный кабинет">Вернутся в личный кабинет</a></div><p></p></div></div></div><div class="modal modal-edit-employee js-employee-form"><div class="modal__window"><div class="modal__close modal__close-btn"></div><div class="modal__header"><div class="modal__title modal__title--f43">Редактирование сотрудника</div></div><div class="modal__body"><form class="form" id="edit-employee" method="POST" action="#"><div class="form__group"><div class="row"><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>ФИО сотрудника</span> <input class="form__input" placeholder="Введите полное имя" name="user-name" value="Константиновский А.А"></label></div></div><div class="col-sm-12 col-md-6"><label class="form__label"><span>Название подразделения</span> <select class="form__input" name="department"><option value="" disabled="disabled">Название подразделения</option><option value="Администрация">Администрация</option><option value="Администрация" selected="selected">Логистика</option><option value="Администрация">Доставка</option></select></label></div></div></div><div class="modal__title">Контактная информация</div><div class="form__group"><div class="row"><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>Телефон</span> <input class="form__input" type="phone" placeholder="+7(xxx)xxx-xx-xx" name="phone" value="+7(905)647-20-11"></label></div></div><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>Email</span> <input class="form__input" placeholder="Введите email" name="email" value="mail@mail.ru"></label></div></div></div></div><div class="modal__title">Права доступа</div><div class="form__group form__group--row form__group--border-bottom"><label class="form__label form__label--row-lg"><span>Показывать цену:</span> <input class="form__input form__input--checkbox" type="checkbox" name="price" checked="checked"><div class="form__checkbox-helper"><div class="js-thumb"></div><span>Нет</span><span>Да</span></div></label> <label class="form__label form__label--row-lg"><span>Отправлять заказ:</span> <input class="form__input form__input--checkbox" type="checkbox" name="price"><div class="form__checkbox-helper"><div class="js-thumb"></div><span>Нет</span><span>Да</span></div></label></div><div class="form__group form__group--row-between"><div class="form__btn-group"><input class="button button--black" id="edil-btn" type="submit" value="Сохранить изменения" data-wait="Подождите..."> <input class="btn-link modal__close" type="button" value="Выйти без сохранения"></div><button class="btn-link form__reset-btn" id="delete-employee" type="button"><span>Удалить сотрудника</span></button></div></form></div></div></div><div class="modal modal-new-employee js-employee-form"><div class="modal__window"><div class="modal__close modal__close-btn"></div><div class="modal__header"><div class="modal__title modal__title--f43">Новый сотрудник</div></div><div class="modal__body"><form class="form" id="new-employee" method="POST" action="#"><div class="form__group"><div class="row"><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>ФИО сотрудника</span> <input class="form__input" placeholder="Введите полное имя" name="user-name"></label></div></div><div class="col-sm-12 col-md-6"><label class="form__label"><span>Название подразделения</span> <select class="form__input" name="department"><option value="" disabled="disabled" selected="selected">Название подразделения</option><option value="Администрация">Администрация</option><option value="Администрация">Логистика</option><option value="Администрация">Доставка</option></select></label></div></div></div><div class="modal__title">Контактная информация</div><div class="form__group"><div class="row"><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>Телефон</span> <input class="form__input" type="phone" placeholder="+7(xxx)xxx-xx-xx" name="phone"></label></div></div><div class="col-sm-12 col-md-6"><div class="form__group"><label class="form__label"><span>Email</span> <input class="form__input" placeholder="Введите email" name="email"></label></div></div></div></div><div class="modal__title">Права доступа</div><div class="form__group form__group--row form__group--border-bottom"><label class="form__label form__label--row-lg"><span>Показывать цену:</span> <input class="form__input form__input--checkbox" type="checkbox" name="price"><div class="form__checkbox-helper"><div class="js-thumb"></div><span>Нет</span><span>Да</span></div></label> <label class="form__label form__label--row-lg"><span>Отправлять заказ:</span> <input class="form__input form__input--checkbox" type="checkbox" name="price" checked="checked"><div class="form__checkbox-helper"><div class="js-thumb"></div><span>Нет</span><span>Да</span></div></label></div><div class="form__group form__group--row-between"><div class="form__btn-group"><input class="button button--black" id="edit-btn" type="submit" value="Сохранить изменения" data-wait="Подождите..."> <input class="btn-link modal__close" type="button" value="Выйти без сохранения"></div><button class="btn-link form__reset-btn" type="reset"><span>Очистить поля</span></button></div></form></div></div></div></body></html>
