public/current-orders.html
<!doctype html><html lang="ru"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"><meta name="format-detection" content="telephone=no"><meta charset="utf-8"><title>Текущие заказы</title><meta name="description" content=""><script defer="defer" src="/assets/js/vendors.js"></script><script defer="defer" src="/assets/js/app.js"></script><link href="/assets/css/vendors.css" rel="stylesheet"><link href="/assets/css/app.css" rel="stylesheet"></head><body class="body body--grey"><div id="app"><header class="h-lk"><div class="h-lk__container container container--lk"><div class="row"><div class="h-lk__logo-wrp col-lg-3"><a class="h-lk__logo" href="#"><img src="/assets/img/logotype/logotype.svg" alt=""></a></div><div class="h-lk__parts-wrp col-md-12 col-lg-9"><div class="h-lk__part h-lk__part--company h-lk__part--hidden-xs"><p class="h-lk__part-bold">Компания</p><p class="h-lk__part-thin">Название компании</p></div><div class="h-lk__part h-lk__part--employee h-lk__part--hidden-xs"><p class="h-lk__part-bold">Сотрудник</p><p class="h-lk__part-thin">Лазарев И.В.<span>Менеджер по продажам</span></p></div><div class="h-lk__part h-lk__part--order-number h-lk__part--bordered order-number"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><div class="h-lk__part h-lk__part--bordered h-lk__part--sum"><p class="h-lk__part-bold">Сумма заказа</p><p class="h-lk__part-thin">3499 &#8381;</p></div><div class="h-lk__part h-lk__part--side h-lk__part--bordered"><a class="logout-btn" href="#"><span>Выйти</span></a><a class="nav__btn-toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></a></div></div></div></div></header><div class="container"><div class="row"><div class="col-md-12 col-lg-3"><div style="height:100%"><div class="js-height-clearfix"></div><nav class="sidebar sidebar--lk"><a class="btn-prev" href="#">Вернуться в каталог</a><div class="sidebar__hidden-xs"><div class="order-number order-number--lined"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><a class="warning-link" href="#">Закончить оформление заказа</a><ul class="sidebar__list"><li class="sidebar__item"><p class="sidebar__link sidebar__link--active">Текущие заказы</p></li><li class="sidebar__item"><a class="sidebar__link" href="#">История заказов</a></li></ul><ul class="sidebar__list"><li class="sidebar__item"><a class="sidebar__link" href="#">Сменить пароль</a></li><li class="sidebar__item"><a class="sidebar__link" href="#">Настроить акаунт</a></li></ul></div></nav></div></div><div class="col-md-12 col-lg-9 white-bg"><div class="lk"><p class="page-title">Текущие заказы</p><div class="lk__search-line search-line"><input class="search-line__input" placeholder="Поиск по номеру заказа, дате и имени сотрудника" data-action="/assets/data/search-result.html"></div><div class="data-container"><table class="pretty-table pretty-table--orders"><thead><tr><th>№ заказа</th><th>Дата заказа</th><th>Сумма по РРЦ</th><th>Наименование заказа</th><th></th><th></th></tr></thead><tbody><tr><td class="number"><a href="order.html#563833">56380</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr><tr><td class="number"><a href="order.html#563833">56381</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr><tr><td class="number"><a href="order.html#563833">56382</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr><tr><td class="number"><a href="order.html#563833">56383</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr><tr><td class="number"><a href="order.html#563833">56384</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr><tr><td class="number"><a href="order.html#563833">56385</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr><tr><td class="number"><a href="order.html#563833">56386</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr><tr><td class="number"><a href="order.html#563833">56387</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr><tr><td class="number"><a href="order.html#563833">56388</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr><tr><td class="number"><a href="order.html#563833">56389</a></td><td class="date">26.12.2020 20:00</td><td class="sum">602 400 &#8381;</td><td class="name">Радужный</td><td class="btns"><a class="icon-btn icon-btn--edit" href="order.html#563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></a><button class="icon-btn icon-btn--delete" data-order data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td><td class="status"><p class="status status--yellow"><img src="/assets/img/icons/status-yellow.svg" alt=""><span>Принят в работу</span></p></td></tr></tbody></table><div class="pretty-table-footer"><p class="pretty-table-footer__count">Всего: <span class="value">34</span></p><div class="pagination"><p class="pagination__header">Страница</p><ul class="pagination__list"><li class="pagination__item"><a class="pagination__link pagination__link--less" href="#"></a></li><li class="pagination__item"><span class="pagination__link pagination__link--active">1</span></li><li class="pagination__item"><a class="pagination__link" href="#">2</a></li><li class="pagination__item"><a class="pagination__link" href="#">3</a></li><li class="pagination__item"><a class="pagination__link" href="#">...</a></li><li class="pagination__item"><a class="pagination__link pagination__link--more" href="#"></a></li></ul></div></div></div><div class="search-preloader"><p>Подождите, идёт загрузка...</p></div></div><div class="modal modal--delete modal--delete-order"><div class="modal__window"><div class="modal__body"><div class="delete-order"><p class="delete-order__header">Заказ</p><p class="delete-order__number">№ 12</p></div><div class="modal__title modal__title--f30">Подтвердите удаление заказа</div><div class="modal__content"><div class="modal__btns-line"><button class="button button--black">Подтвердить</button><a class="modal__link modal__link--close-popup">Отменить</a></div><p class="modal__counter">Окно закроется автоматически через <span class="seconds">15</span>секунд</p></div></div></div></div></div></div></div><footer class="footer"><div class="container"><div class="logotype-block"><a class="logotype-block__wrapper" href="#" title="Stailer group"><img class="logotype-block__image" src="/assets/img/logotype/logo-white.svg"></a></div><nav class="nav nav--large-mb"><ul class="nav__list"><li class="nav__item"><a class="nav__link nav__link--light" href="catalog.html" alt="Каталог">Каталог</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="about.html" alt="О нас">О нас</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="terms.html" alt="Условия сотрудничества">Условия сотрудничества</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="delivery.html" alt="Доставка">Доставка</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="contacts.html" alt="Контакты">Контакты</a></li></ul></nav><ul class="copyright"><li class="copyright__item copyright--order">&#169; 2015-21 Stailer</li><li class="copyright__item">Malaya Pirogovskaya str,<br>119435 Moscow, Russia</li><li class="copyright__item"><a class="copyright__link" href="tel:+74952800798" title="Позвоните нам">Tel: +7 495 280–07–98</a></li><li class="copyright__item"><a class="copyright__link" href="mailto:cis@stailer.com" title="Напишите нам">E-mail: cis@stailer.com</a></li></ul><ul class="footer__privacy"><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Правовая информация</a></li><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Обработка персональных данных</a></li></ul></div></footer></div><div class="btn-to-top"><div class="btn-to-top__wrap"><img src="/assets/img/icons/to-top.png"></div></div></body></html>

src/pug/pages/current-orders.pug
extends ../layout/lk-layout

block variables
	- var title = 'Текущие заказы';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Текущие заказы
		.lk__search-line.search-line
			input.search-line__input(
				placeholder="Поиск по номеру заказа, дате и имени сотрудника",
				data-action="/assets/data/search-result.html")
		.data-container
			table.pretty-table.pretty-table--orders
				thead
					tr
						th № заказа
						th Дата заказа
						th Сумма по РРЦ
						th Наименование заказа
						th
						th
				tbody
					- for (var i=0; i<10; i++)
						tr
							td.number
								a(href="order.html#563833")='5638'+i
							td.date 26.12.2020 20:00
							td.sum 602 400 &#8381;
							td.name Радужный
							td.btns
								a.icon-btn.icon-btn--edit(href="order.html#563833")
									<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/>
										<path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/>
									</svg>
								button.icon-btn.icon-btn--delete(data-order, data-id="563833")
									<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
										<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
									</svg>
							td.status
								p.status.status--yellow
									img(src="/assets/img/icons/status-yellow.svg", alt="")
									span Принят в работу
			.pretty-table-footer
				p.pretty-table-footer__count 
					| Всего: 
					span.value 34
				.pagination
					p.pagination__header Страница
					ul.pagination__list
						li.pagination__item
							a.pagination__link.pagination__link--less(href="#")
						li.pagination__item
							span.pagination__link.pagination__link--active 1
						li.pagination__item
							a.pagination__link(href="#") 2
						li.pagination__item
							a.pagination__link(href="#") 3
						li.pagination__item
							a.pagination__link(href="#") ...
						li.pagination__item
							a.pagination__link.pagination__link--more(href="#")
		.search-preloader
			p Подождите, идёт загрузка...
	+include-delete-order-popup()
