public/employees.html
<!doctype html><html lang="ru"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"><meta name="format-detection" content="telephone=no"><meta charset="utf-8"><title>Сотрудники</title><meta name="description" content=""><script defer="defer" src="/assets/js/vendors.js"></script><script defer="defer" src="/assets/js/app.js"></script><link href="/assets/css/vendors.css" rel="stylesheet"><link href="/assets/css/app.css" rel="stylesheet"></head><body class="body body--grey"><div id="app"><header class="h-lk"><div class="h-lk__container container container--lk"><div class="row"><div class="h-lk__logo-wrp col-lg-3"><a class="h-lk__logo" href="#"><img src="/assets/img/logotype/logotype.svg" alt=""></a></div><div class="h-lk__parts-wrp col-md-12 col-lg-9"><div class="h-lk__part h-lk__part--company h-lk__part--hidden-xs"><p class="h-lk__part-bold">Компания</p><p class="h-lk__part-thin">Название компании</p></div><div class="h-lk__part h-lk__part--employee h-lk__part--hidden-xs"><p class="h-lk__part-bold">Сотрудник</p><p class="h-lk__part-thin">Лазарев И.В.<span>Менеджер по продажам</span></p></div><div class="h-lk__part h-lk__part--order-number h-lk__part--bordered order-number"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><div class="h-lk__part h-lk__part--bordered h-lk__part--sum"><p class="h-lk__part-bold">Сумма заказа</p><p class="h-lk__part-thin">3499 &#8381;</p></div><div class="h-lk__part h-lk__part--side h-lk__part--bordered"><a class="logout-btn" href="#"><span>Выйти</span></a><a class="nav__btn-toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></a></div></div></div></div></header><div class="container"><div class="row"><div class="col-md-12 col-lg-3"><div style="height:100%"><div class="js-height-clearfix"></div><nav class="sidebar sidebar--lk"><a class="btn-prev" href="#">Вернуться в каталог</a><div class="sidebar__hidden-xs"><div class="order-number order-number--lined"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><a class="warning-link" href="#">Закончить оформление заказа</a><ul class="sidebar__list"><li class="sidebar__item"><p class="sidebar__link sidebar__link--active">Текущие заказы</p></li><li class="sidebar__item"><a class="sidebar__link" href="#">История заказов</a></li></ul><ul class="sidebar__list"><li class="sidebar__item"><a class="sidebar__link" href="#">Сменить пароль</a></li><li class="sidebar__item"><a class="sidebar__link" href="#">Настроить акаунт</a></li></ul></div></nav></div></div><div class="col-md-12 col-lg-9 white-bg"><div class="lk"><div class="page-title-line"><p class="page-title">Сотрудники</p><button class="button button--black button--icon" data-new-employee-btn><span class="button__title">Добавить <span class="hidden-xs">сотрудника</span></span></button></div><div class="lk__search-line search-line"><input class="search-line__input" placeholder="Поиск по сотрудникам" data-action="/assets/data/search-result.html"></div><div class="data-container"><table class="pretty-table pretty-table--employees"><thead><th>Сотрудник</th><th>Подразделение</th><th>Телефон</th><th>Email</th><th>Показывать цену</th><th>Отправлять заказ</th><th></th></thead><tbody><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="employee">Константинопольский В.А</td><td class="branch">Название подразделения</td><td class="tel">+7 (981) 714-57-10</td><td class="email">mail@mail.ru</td><td class="checks"><label class="switch"><input class="price switch__input" type="checkbox" name="switcher1" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="checks"><label class="switch"><input class="checkout switch__input" type="checkbox" name="switcher2" disabled="disabled"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></td><td class="btns"><button class="icon-btn icon-btn--edit" data-id="563833"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/><path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/></svg></button> <button class="icon-btn icon-btn--delete" data-employee data-id="563833"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr></tbody></table><div class="pretty-table-footer"><p class="pretty-table-footer__count">Всего: <span class="value">34</span></p><div class="pagination"><p class="pagination__header">Страница</p><ul class="pagination__list"><li class="pagination__item"><a class="pagination__link pagination__link--less" href="#"></a></li><li class="pagination__item"><span class="pagination__link pagination__link--active">1</span></li><li class="pagination__item"><a class="pagination__link" href="#">2</a></li><li class="pagination__item"><a class="pagination__link" href="#">3</a></li><li class="pagination__item"><a class="pagination__link" href="#">...</a></li><li class="pagination__item"><a class="pagination__link pagination__link--more" href="#"></a></li></ul></div></div></div><div class="search-preloader"><p>Подождите, идёт загрузка...</p></div></div><div class="modal modal--employee" data-target-modal="employee"><div class="modal__window"><button class="modal__close-btn"></button><div class="modal__body"><p class="modal__title modal__title--f30 modal__title--new">Новый сотрудник</p><p class="modal__title modal__title--f30 modal__title--edit" style="display:none;">Редактирование сотрудника</p><form class="e-form" action="/data/save-employee.json"><div class="e-form__line e-form__line--half"><div class="e-form__item input-line"><p class="input-line__label">ФИО сотрудника</p><input class="e-form__name input-line__input" name="name"></div><div class="e-form__item input-line"><p class="input-line__label">Название подразделения</p><input class="e-form__branch input-line__input" name="branch"></div></div><p class="modal__title">Контактная информация</p><div class="e-form__line e-form__line--half"><div class="e-form__item input-line"><p class="input-line__label">Телефон</p><input class="e-form__tel input-line__input" name="tel"></div><div class="e-form__item input-line"><p class="input-line__label">Email</p><input class="e-form__email input-line__input" name="email"></div></div><p class="modal__title">Права доступа</p><div class="e-form__line"><div class="e-form__item switch-line"><p class="switch-line__label">Может ли сотрудник видеть оптовую цену со скидкой:</p><label class="switch-line__switch switch"><input class="e-form__price switch__input" type="checkbox" name="price"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></div><div class="e-form__item switch-line"><p class="switch-line__label">Может ли сотрудник отправлять заказ в работу без подтверждения владельца:</p><label class="switch-line__switch switch"><input class="e-form__checkout switch__input" type="checkbox" name="checkout"><p class="switch__var">Нет</p><p class="switch__var">Да</p></label></div></div><div class="modal__content"><div class="modal__btns-line"><button class="button button--black">Сохранить изменения</button><a class="modal__link modal__link--close-popup">Выйти без сохранения</a></div></div></form></div></div></div><div class="modal modal--delete"><div class="modal__window"><div class="modal__body"><p class="modal__title modal__title--grey">Сотрудник</p><p class="modal__title modal__title--name">Фамилия Имя</p><p class="modal__title modal__title--branch">Название подразделения</p><div class="modal__title modal__title--f30">Подтвердите удаление сотрудника</div><div class="modal__content"><div class="modal__btns-line"><button class="button button--black">Подтвердить</button><a class="modal__link modal__link--close-popup">Отмена</a></div><p class="modal__counter">Окно закроется автоматически через <span class="seconds">15</span>секунд</p></div></div></div></div></div></div></div><footer class="footer"><div class="container"><div class="logotype-block"><a class="logotype-block__wrapper" href="#" title="Stailer group"><img class="logotype-block__image" src="/assets/img/logotype/logo-white.svg"></a></div><nav class="nav nav--large-mb"><ul class="nav__list"><li class="nav__item"><a class="nav__link nav__link--light" href="catalog.html" alt="Каталог">Каталог</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="about.html" alt="О нас">О нас</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="terms.html" alt="Условия сотрудничества">Условия сотрудничества</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="delivery.html" alt="Доставка">Доставка</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="contacts.html" alt="Контакты">Контакты</a></li></ul></nav><ul class="copyright"><li class="copyright__item copyright--order">&#169; 2015-21 Stailer</li><li class="copyright__item">Malaya Pirogovskaya str,<br>119435 Moscow, Russia</li><li class="copyright__item"><a class="copyright__link" href="tel:+74952800798" title="Позвоните нам">Tel: +7 495 280–07–98</a></li><li class="copyright__item"><a class="copyright__link" href="mailto:cis@stailer.com" title="Напишите нам">E-mail: cis@stailer.com</a></li></ul><ul class="footer__privacy"><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Правовая информация</a></li><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Обработка персональных данных</a></li></ul></div></footer></div><div class="btn-to-top"><div class="btn-to-top__wrap"><img src="/assets/img/icons/to-top.png"></div></div></body></html>

src/pug/pages/employees.pug
extends ../layout/lk-layout

block variables
	- var title = 'Сотрудники';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		.page-title-line
			p.page-title Сотрудники
			button.button.button--black.button--icon(data-new-employee-btn)
				span.button__title
					| Добавить 
					span.hidden-xs сотрудника
		.lk__search-line.search-line
			input.search-line__input(placeholder="Поиск по сотрудникам",
				data-action="/assets/data/search-result.html")
		.data-container
			table.pretty-table.pretty-table--employees
				thead
					th Сотрудник
					th Подразделение
					th Телефон
					th Email
					th Показывать цену
					th Отправлять заказ
					th
				tbody
					- for (var  i=0; i<10; i++)
						tr
							td.employee Константинопольский В.А
							td.branch Название подразделения
							td.tel +7 (981) 714-57-10
							td.email mail@mail.ru
							td.checks
								label.switch
									input.price.switch__input(type="checkbox", name="switcher1", disabled)
									p.switch__var Нет
									p.switch__var Да
							td.checks
								label.switch
									input.checkout.switch__input(type="checkbox", name="switcher2", disabled)
									p.switch__var Нет
									p.switch__var Да
							td.btns
								button.icon-btn.icon-btn--edit(data-id="563833")
									<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/>
										<path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/>
									</svg>
								button.icon-btn.icon-btn--delete(data-employee, data-id="563833")
									<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
										<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
									</svg>
			.pretty-table-footer
				p.pretty-table-footer__count 
					| Всего: 
					span.value 34
				.pagination
					p.pagination__header Страница
					ul.pagination__list
						li.pagination__item
							a.pagination__link.pagination__link--less(href="#")
						li.pagination__item
							span.pagination__link.pagination__link--active 1
						li.pagination__item
							a.pagination__link(href="#") 2
						li.pagination__item
							a.pagination__link(href="#") 3
						li.pagination__item
							a.pagination__link(href="#") ...
						li.pagination__item
							a.pagination__link.pagination__link--more(href="#")
		.search-preloader
			p Подождите, идёт загрузка...
	.modal.modal--employee(data-target-modal="employee")
		.modal__window
			button.modal__close-btn
			.modal__body
				p.modal__title.modal__title--f30.modal__title--new Новый сотрудник
				p.modal__title.modal__title--f30.modal__title--edit(style="display:none;") Редактирование сотрудника
				form.e-form(action="/data/save-employee.json")
					.e-form__line.e-form__line--half
						.e-form__item.input-line
							p.input-line__label ФИО сотрудника
							input.e-form__name.input-line__input(type="text", name="name")
						.e-form__item.input-line
							p.input-line__label Название подразделения
							input.e-form__branch.input-line__input(type="text", name="branch")
					p.modal__title Контактная информация
					.e-form__line.e-form__line--half
						.e-form__item.input-line
							p.input-line__label Телефон
							input.e-form__tel.input-line__input(type="text", name="tel")
						.e-form__item.input-line
							p.input-line__label Email
							input.e-form__email.input-line__input(type="text", name="email")
					p.modal__title Права доступа
					.e-form__line
						.e-form__item.switch-line
							p.switch-line__label Может ли сотрудник видеть оптовую цену со скидкой:
							label.switch-line__switch.switch
								input.e-form__price.switch__input(type="checkbox", name="price")
								p.switch__var Нет
								p.switch__var Да
						.e-form__item.switch-line
							p.switch-line__label Может ли сотрудник отправлять заказ в работу без подтверждения владельца:
							label.switch-line__switch.switch
								input.e-form__checkout.switch__input(type="checkbox", name="checkout")
								p.switch__var Нет
								p.switch__var Да
					.modal__content
						.modal__btns-line
							button.button.button--black Сохранить изменения
							a.modal__link.modal__link--close-popup Выйти без сохранения
	+include-delete-emp-popup()
