public/history.html
<!doctype html><html lang="ru"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"><meta name="format-detection" content="telephone=no"><meta charset="utf-8"><title>История заказов</title><meta name="description" content=""><script defer="defer" src="/assets/js/vendors.js"></script><script defer="defer" src="/assets/js/app.js"></script><link href="/assets/css/vendors.css" rel="stylesheet"><link href="/assets/css/app.css" rel="stylesheet"></head><body class="body body--grey"><div id="app"><header class="h-lk"><div class="h-lk__container container container--lk"><div class="row"><div class="h-lk__logo-wrp col-lg-3"><a class="h-lk__logo" href="#"><img src="/assets/img/logotype/logotype.svg" alt=""></a></div><div class="h-lk__parts-wrp col-md-12 col-lg-9"><div class="h-lk__part h-lk__part--company h-lk__part--hidden-xs"><p class="h-lk__part-bold">Компания</p><p class="h-lk__part-thin">Название компании</p></div><div class="h-lk__part h-lk__part--employee h-lk__part--hidden-xs"><p class="h-lk__part-bold">Сотрудник</p><p class="h-lk__part-thin">Лазарев И.В.<span>Менеджер по продажам</span></p></div><div class="h-lk__part h-lk__part--order-number h-lk__part--bordered order-number"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><div class="h-lk__part h-lk__part--bordered h-lk__part--sum"><p class="h-lk__part-bold">Сумма заказа</p><p class="h-lk__part-thin">3499 &#8381;</p></div><div class="h-lk__part h-lk__part--side h-lk__part--bordered"><a class="logout-btn" href="#"><span>Выйти</span></a><a class="nav__btn-toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></a></div></div></div></div></header><div class="container"><div class="row"><div class="col-md-12 col-lg-3"><div style="height:100%"><div class="js-height-clearfix"></div><nav class="sidebar sidebar--lk"><a class="btn-prev" href="#">Вернуться в каталог</a><div class="sidebar__hidden-xs"><div class="order-number order-number--lined"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><a class="warning-link" href="#">Закончить оформление заказа</a><ul class="sidebar__list"><li class="sidebar__item"><p class="sidebar__link sidebar__link--active">Текущие заказы</p></li><li class="sidebar__item"><a class="sidebar__link" href="#">История заказов</a></li><li class="sidebar__item"><a class="sidebar__link" href="#">Сотрудники</a></li><li class="sidebar__item"><a class="sidebar__link" href="#">Подразделения</a></li></ul><ul class="sidebar__list"><li class="sidebar__item"><a class="sidebar__link" href="#">Сменить пароль</a></li><li class="sidebar__item"><a class="sidebar__link" href="#">Настроить акаунт</a></li></ul></div></nav></div></div><div class="col-md-12 col-lg-9 white-bg"><div class="lk"><p class="page-title">История заказов</p><div class="lk__search-line search-line"><input class="search-line__input" placeholder="Поиск по номеру заказа, дате и имени сотрудника" data-action="/assets/data/search-result.html"></div><div class="data-container"><table class="pretty-table pretty-table--history"><thead><th>Номер заказа</th><th>Дата заказа</th><th>Сотрудник</th><th>Сумма</th><th>Сумма по РРЦ</th><th>Отслеживание</th><th></th></thead><tbody><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr><tr><td class="number"><a class="number__value" href="#">563833</a><a class="number__btn button button--black" href="#">Открыть</a></td><td class="date">26.12.2020 20:00</td><td class="employee">Константинопольский В.А</td><td class="price">602 400 &#8381;</td><td class="price-rrc">602 400 &#8381;</td><td class="comment"><div class="comment-popup"><button class="icon-btn icon-btn--comment" data-id="563833"><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/></svg></button><div class="comment-popup__popup"><p>Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.</p></div></div></td><td class="status"><p class="status status--green"><img src="/assets/img/icons/status-green.svg" alt=""><span>Отгружен</span></p></td></tr></tbody></table><div class="pretty-table-footer"><p class="pretty-table-footer__count">Всего: <span class="value">34</span></p><div class="pagination"><p class="pagination__header">Страница</p><ul class="pagination__list"><li class="pagination__item"><a class="pagination__link pagination__link--less" href="#"></a></li><li class="pagination__item"><span class="pagination__link pagination__link--active">1</span></li><li class="pagination__item"><a class="pagination__link" href="#">2</a></li><li class="pagination__item"><a class="pagination__link" href="#">3</a></li><li class="pagination__item"><a class="pagination__link" href="#">...</a></li><li class="pagination__item"><a class="pagination__link pagination__link--more" href="#"></a></li></ul></div></div></div><div class="search-preloader"><p>Подождите, идёт загрузка...</p></div></div><div class="modal modal--delete modal--delete-order"><div class="modal__window"><div class="modal__body"><div class="delete-order"><p class="delete-order__header">Заказ</p><p class="delete-order__number">№ 12</p></div><div class="modal__title modal__title--f30">Подтвердите удаление заказа</div><div class="modal__content"><div class="modal__btns-line"><button class="button button--black">Подтвердить</button><a class="modal__link modal__link--close-popup">Отменить</a></div><p class="modal__counter">Окно закроется автоматически через <span class="seconds">15</span>секунд</p></div></div></div></div></div></div></div><footer class="footer"><div class="container"><div class="logotype-block"><a class="logotype-block__wrapper" href="#" title="Stailer group"><img class="logotype-block__image" src="/assets/img/logotype/logo-white.svg"></a></div><nav class="nav nav--large-mb"><ul class="nav__list"><li class="nav__item"><a class="nav__link nav__link--light" href="catalog.html" alt="Каталог">Каталог</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="about.html" alt="О нас">О нас</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="terms.html" alt="Условия сотрудничества">Условия сотрудничества</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="delivery.html" alt="Доставка">Доставка</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="contacts.html" alt="Контакты">Контакты</a></li></ul></nav><ul class="copyright"><li class="copyright__item copyright--order">&#169; 2015-21 Stailer</li><li class="copyright__item">Malaya Pirogovskaya str,<br>119435 Moscow, Russia</li><li class="copyright__item"><a class="copyright__link" href="tel:+74952800798" title="Позвоните нам">Tel: +7 495 280–07–98</a></li><li class="copyright__item"><a class="copyright__link" href="mailto:cis@stailer.com" title="Напишите нам">E-mail: cis@stailer.com</a></li></ul><ul class="footer__privacy"><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Правовая информация</a></li><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Обработка персональных данных</a></li></ul></div></footer></div><div class="btn-to-top"><div class="btn-to-top__wrap"><img src="/assets/img/icons/to-top.png"></div></div></body></html>

src/pug/pages/history.pug
extends ../layout/lk-layout

block variables
	- var title = 'История заказов';
	- var description = '';
	- var pageClass = 'body body--grey';
	- var owner = true;

block content
	.lk
		p.page-title История заказов
		.lk__search-line.search-line
			input.search-line__input(placeholder="Поиск по номеру заказа, дате и имени сотрудника",
				data-action="/assets/data/search-result.html")
		.data-container
			table.pretty-table.pretty-table--history
				thead
					th Номер заказа
					th Дата заказа
					th Сотрудник
					th Сумма
					th Сумма по РРЦ
					th Отслеживание
					th
				tbody
					- for (var i=0; i<10; i++)
						tr
							td.number
								a.number__value(href="#") 563833
								a.number__btn.button.button--black(href="#") Открыть
							td.date 26.12.2020 20:00
							td.employee Константинопольский В.А
							td.price 602 400 &#8381;
							td.price-rrc 602 400 &#8381;
							td.comment
								.comment-popup
									button.icon-btn.icon-btn--comment(data-id="563833")
										<svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/>
										</svg>
									.comment-popup__popup
										p Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.
							td.status
								p.status.status--green
									img(src="/assets/img/icons/status-green.svg", alt="")
									span Отгружен
			.pretty-table-footer
				p.pretty-table-footer__count 
					| Всего: 
					span.value 34
				.pagination
					p.pagination__header Страница
					ul.pagination__list
						li.pagination__item
							a.pagination__link.pagination__link--less(href="#")
						li.pagination__item
							span.pagination__link.pagination__link--active 1
						li.pagination__item
							a.pagination__link(href="#") 2
						li.pagination__item
							a.pagination__link(href="#") 3
						li.pagination__item
							a.pagination__link(href="#") ...
						li.pagination__item
							a.pagination__link.pagination__link--more(href="#")
		.search-preloader
			p Подождите, идёт загрузка...
	+include-delete-order-popup()
