public/order.html
<!doctype html><html lang="ru"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"><meta name="format-detection" content="telephone=no"><meta charset="utf-8"><title>Корзина</title><meta name="description" content=""><script defer="defer" src="/assets/js/vendors.js"></script><script defer="defer" src="/assets/js/app.js"></script><link href="/assets/css/vendors.css" rel="stylesheet"><link href="/assets/css/app.css" rel="stylesheet"></head><body class="body body--grey"><div id="app"><header class="h-lk"><div class="h-lk__container container container--lk"><div class="row"><div class="h-lk__logo-wrp col-lg-3"><a class="h-lk__logo" href="#"><img src="/assets/img/logotype/logotype.svg" alt=""></a></div><div class="h-lk__parts-wrp col-md-12 col-lg-9"><div class="h-lk__part h-lk__part--company h-lk__part--hidden-xs"><p class="h-lk__part-bold">Компания</p><p class="h-lk__part-thin">Название компании</p></div><div class="h-lk__part h-lk__part--employee h-lk__part--hidden-xs"><p class="h-lk__part-bold">Сотрудник</p><p class="h-lk__part-thin">Лазарев И.В.<span>Менеджер по продажам</span></p></div><div class="h-lk__part h-lk__part--order-number h-lk__part--bordered order-number"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><div class="h-lk__part h-lk__part--bordered h-lk__part--sum"><p class="h-lk__part-bold">Сумма заказа</p><p class="h-lk__part-thin">3499 &#8381;</p></div><div class="h-lk__part h-lk__part--side h-lk__part--bordered"><a class="logout-btn" href="#"><span>Выйти</span></a><a class="nav__btn-toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></a></div></div></div></div></header><div class="container"><div class="row"><div class="col-md-12 col-lg-3"><div style="height:100%"><div class="js-height-clearfix"></div><nav class="sidebar sidebar--lk"><a class="btn-prev" href="#">Вернуться в каталог</a><div class="sidebar__hidden-xs"><div class="order-number order-number--lined"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><a class="warning-link" href="#">Закончить оформление заказа</a><ul class="sidebar__list"><li class="sidebar__item"><p class="sidebar__link sidebar__link--active">Текущие заказы</p></li><li class="sidebar__item"><a class="sidebar__link" href="#">История заказов</a></li></ul><ul class="sidebar__list"><li class="sidebar__item"><a class="sidebar__link" href="#">Сменить пароль</a></li><li class="sidebar__item"><a class="sidebar__link" href="#">Настроить акаунт</a></li></ul></div></nav></div></div><div class="col-md-12 col-lg-9 white-bg"><div class="lk"><p class="page-title">Корзина</p><div class="lk__search-line search-line"><input class="search-line__input" placeholder="Назовите свой заказ" data-action="/assets/data/search-result.html"></div><div class="data-container"><table class="pretty-table pretty-table--cart"><thead><th>№</th><th></th><th>Артикул</th><th>Наименование</th><th>Размер</th><th>Цвет</th><th>Количество</th><th>Наличие</th><th></th></thead><tbody><tr><td class="number">1</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number">2</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number">3</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number">4</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number">5</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number">6</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number">7</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number">8</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number">9</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr><tr><td class="number">10</td><td class="thumb"><img src="/assets/img/photos/red.png" alt=""></td><td class="code"><a href="#">3091B-2011</a></td><td class="name">Длинное наименование товара</td><td class="size">20/18 L</td><td class="color"><div class="pretty-table__order-color-lg color-round" style="background-color: #ff0000"></div><p class="pretty-table__order-color-xs">Цвет: чёрный</p></td><td class="count"><label class="js-count-items"><input class="total__input js-input-amount" type="number"><div class="counter total__count-items js-count-items"><button class="js-count-decrease" type="button">&minus;</button><span class="js-count-num" style="margin: 0 1.6rem">1</span> <button class="js-count-increase" type="button">&plus;</button></div></label></td><td class="stock">больше 10</td><td class="btn"><button class="icon-btn icon-btn--delete" data-id="563833"><svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg></button></td></tr></tbody></table><form class="cart-footer"><p class="cart-footer__term">Примерное время сборки заказа: <span>2 дня, требуется доставка со склада</span></p></form><div class="cart-footer__msg-wrp"><p class="cart-footer__msg-header">Комментарий к заказу</p><textarea class="cart-footer__msg" placeholder="Ваш комментарий"></textarea></div><div class="cart-footer__footer"><button class="cart-footer__submit button button--black">Отправить на подтверждеие</button><div><a class="cart-footer__link" href="#"><span>Сохранить заказ</span></a></div><div class="cart-footer__del-wrp"><button class="cart-footer__link cart-footer__link--clear"><svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/><path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/></svg><span>Очистить корзину</span></button></div></div></div><div class="search-preloader"><p>Подождите, идёт загрузка...</p></div></div><div class="modal modal--delete modal--delete-order"><div class="modal__window"><div class="modal__body"><div class="delete-order"><p class="delete-order__header">Заказ</p><p class="delete-order__number">№ 12</p></div><div class="modal__title modal__title--f30">Подтвердите удаление заказа</div><div class="modal__content"><div class="modal__btns-line"><button class="button button--black">Подтвердить</button><a class="modal__link modal__link--close-popup">Отменить</a></div><p class="modal__counter">Окно закроется автоматически через <span class="seconds">15</span>секунд</p></div></div></div></div><div class="modal modal--delete modal--empty-cart"><div class="modal__window"><div class="modal__body"><div class="delete-order"><p class="delete-order__header">Корзина</p></div><div class="modal__title modal__title--f30">Подтвердите очистку корзины</div><div class="modal__content"><div class="modal__btns-line"><a class="button button--black" href="#">Подтвердить</a><a class="modal__link modal__link--close-popup">Отменить</a></div><p class="modal__counter">Окно закроется автоматически через <span class="seconds">15</span>секунд</p></div></div></div></div></div></div></div><footer class="footer"><div class="container"><div class="logotype-block"><a class="logotype-block__wrapper" href="#" title="Stailer group"><img class="logotype-block__image" src="/assets/img/logotype/logo-white.svg"></a></div><nav class="nav nav--large-mb"><ul class="nav__list"><li class="nav__item"><a class="nav__link nav__link--light" href="catalog.html" alt="Каталог">Каталог</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="about.html" alt="О нас">О нас</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="terms.html" alt="Условия сотрудничества">Условия сотрудничества</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="delivery.html" alt="Доставка">Доставка</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="contacts.html" alt="Контакты">Контакты</a></li></ul></nav><ul class="copyright"><li class="copyright__item copyright--order">&#169; 2015-21 Stailer</li><li class="copyright__item">Malaya Pirogovskaya str,<br>119435 Moscow, Russia</li><li class="copyright__item"><a class="copyright__link" href="tel:+74952800798" title="Позвоните нам">Tel: +7 495 280–07–98</a></li><li class="copyright__item"><a class="copyright__link" href="mailto:cis@stailer.com" title="Напишите нам">E-mail: cis@stailer.com</a></li></ul><ul class="footer__privacy"><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Правовая информация</a></li><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Обработка персональных данных</a></li></ul></div></footer></div><div class="btn-to-top"><div class="btn-to-top__wrap"><img src="/assets/img/icons/to-top.png"></div></div></body></html>

src/pug/pages/order.pug
extends ../layout/lk-layout

block variables
	- var title = 'Корзина';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Корзина
		.lk__search-line.search-line
			input.search-line__input(placeholder="Назовите свой заказ",
				data-action="/assets/data/search-result.html")
		.data-container
			table.pretty-table.pretty-table--cart
				thead
					th №
					th
					th Артикул
					th Наименование
					th Размер
					th Цвет
					th Количество
					th Наличие
					th
				tbody
					- for (var i=0; i<10; i++)
						tr
							td.number= i+1
							td.thumb
								img(src="/assets/img/photos/red.png", alt="")
							td.code
								a(href="#") 3091B-2011
							td.name Длинное наименование товара
							td.size 20/18 L
							td.color
								.pretty-table__order-color-lg.color-round(style="background-color: #ff0000")
								p.pretty-table__order-color-xs Цвет: чёрный
							td.count
								label.js-count-items
									input.total__input.js-input-amount(type="number")
									div.counter.total__count-items.js-count-items
										button.js-count-decrease(type="button") &minus;
										span.js-count-num(style="margin: 0 1.6rem") 1
										button.js-count-increase(type="button") &plus;
							td.stock больше 10
							td.btn
								button.icon-btn.icon-btn--delete(data-id="563833")
									<svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
										<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
									</svg>
			form.cart-footer
				p.cart-footer__term
					| Примерное время сборки заказа: 
					span 2 дня, требуется доставка со склада
			.cart-footer__msg-wrp
				p.cart-footer__msg-header Комментарий к заказу
				textarea.cart-footer__msg(placeholder="Ваш комментарий")
			.cart-footer__footer
				button.cart-footer__submit.button.button--black Отправить на подтверждеие
				div
					a.cart-footer__link(href="#") 
						span Сохранить заказ
				div.cart-footer__del-wrp
					button.cart-footer__link.cart-footer__link--clear
						<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
							<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
						</svg>
						span Очистить корзину
		.search-preloader
			p Подождите, идёт загрузка...
	+include-delete-order-popup()
	+include-empty-cart-popup()
