public/password.html
<!doctype html><html lang="ru"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"><meta name="format-detection" content="telephone=no"><meta charset="utf-8"><title>Смена пароля</title><meta name="description" content=""><script defer="defer" src="/assets/js/vendors.js"></script><script defer="defer" src="/assets/js/app.js"></script><link href="/assets/css/vendors.css" rel="stylesheet"><link href="/assets/css/app.css" rel="stylesheet"></head><body class="body body--grey"><div id="app"><header class="h-lk"><div class="h-lk__container container container--lk"><div class="row"><div class="h-lk__logo-wrp col-lg-3"><a class="h-lk__logo" href="#"><img src="/assets/img/logotype/logotype.svg" alt=""></a></div><div class="h-lk__parts-wrp col-md-12 col-lg-9"><div class="h-lk__part h-lk__part--company h-lk__part--hidden-xs"><p class="h-lk__part-bold">Компания</p><p class="h-lk__part-thin">Название компании</p></div><div class="h-lk__part h-lk__part--employee h-lk__part--hidden-xs"><p class="h-lk__part-bold">Сотрудник</p><p class="h-lk__part-thin">Лазарев И.В.<span>Менеджер по продажам</span></p></div><div class="h-lk__part h-lk__part--order-number h-lk__part--bordered order-number"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><div class="h-lk__part h-lk__part--bordered h-lk__part--sum"><p class="h-lk__part-bold">Сумма заказа</p><p class="h-lk__part-thin">3499 &#8381;</p></div><div class="h-lk__part h-lk__part--side h-lk__part--bordered"><a class="logout-btn" href="#"><span>Выйти</span></a><a class="nav__btn-toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></a></div></div></div></div></header><div class="container"><div class="row"><div class="col-md-12 col-lg-3"><div style="height:100%"><div class="js-height-clearfix"></div><nav class="sidebar sidebar--lk"><a class="btn-prev" href="#">Вернуться в каталог</a><div class="sidebar__hidden-xs"><div class="order-number order-number--lined"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><a class="warning-link" href="#">Закончить оформление заказа</a><ul class="sidebar__list"><li class="sidebar__item"><p class="sidebar__link sidebar__link--active">Текущие заказы</p></li><li class="sidebar__item"><a class="sidebar__link" href="#">История заказов</a></li></ul><ul class="sidebar__list"><li class="sidebar__item"><a class="sidebar__link" href="#">Сменить пароль</a></li><li class="sidebar__item"><a class="sidebar__link" href="#">Настроить акаунт</a></li></ul></div></nav></div></div><div class="col-md-12 col-lg-9 white-bg"><div class="lk"><p class="page-title">Смена пароля</p><form class="c-form" method="post" action="/assets/data/message-success.json" novalidate><div class="c-form__section"><div class="c-form__address-line"><div class="input-line"><p class="input-line__label">Старый пароль</p><input class="input-line__input" type="password" name="pass-old" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div></div><div class="c-form__address-line"><div class="input-line"><p class="input-line__label">Новый пароль</p><input class="input-line__input new-pass-input" type="password" name="pass-new" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="input-line"><p class="input-line__label">Повторите ввод пароля</p><input class="input-line__input new-pass-input" type="password" name="pass-new-copy" required data-value-missing="Пожалуйста, заполните поле" data-value-invalid="Новые пароли различаются"><p class="c-form__inline-error hidden" aria-live="polite"></p></div></div></div><button class="c-form__submit button button--black success-hide" data-wait="Минуту...">Изменить пароль</button></form></div></div></div></div><footer class="footer"><div class="container"><div class="logotype-block"><a class="logotype-block__wrapper" href="#" title="Stailer group"><img class="logotype-block__image" src="/assets/img/logotype/logo-white.svg"></a></div><nav class="nav nav--large-mb"><ul class="nav__list"><li class="nav__item"><a class="nav__link nav__link--light" href="catalog.html" alt="Каталог">Каталог</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="about.html" alt="О нас">О нас</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="terms.html" alt="Условия сотрудничества">Условия сотрудничества</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="delivery.html" alt="Доставка">Доставка</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="contacts.html" alt="Контакты">Контакты</a></li></ul></nav><ul class="copyright"><li class="copyright__item copyright--order">&#169; 2015-21 Stailer</li><li class="copyright__item">Malaya Pirogovskaya str,<br>119435 Moscow, Russia</li><li class="copyright__item"><a class="copyright__link" href="tel:+74952800798" title="Позвоните нам">Tel: +7 495 280–07–98</a></li><li class="copyright__item"><a class="copyright__link" href="mailto:cis@stailer.com" title="Напишите нам">E-mail: cis@stailer.com</a></li></ul><ul class="footer__privacy"><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Правовая информация</a></li><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Обработка персональных данных</a></li></ul></div></footer></div><div class="btn-to-top"><div class="btn-to-top__wrap"><img src="/assets/img/icons/to-top.png"></div></div></body></html>

src/pug/pages/password.pug
extends ../layout/lk-layout

block variables
	- var title = 'Смена пароля';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Смена пароля
		form.c-form(method="post", action="/assets/data/message-success.json", novalidate)
			.c-form__section
				.c-form__address-line
					.input-line
						p.input-line__label Старый пароль
						input.input-line__input(type="password", name="pass-old", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
				.c-form__address-line
					.input-line
						p.input-line__label Новый пароль
						input.input-line__input.new-pass-input(type="password", name="pass-new", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Повторите ввод пароля
						input.input-line__input.new-pass-input(type="password", name="pass-new-copy", required,
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Новые пароли различаются")
						p.c-form__inline-error.hidden(aria-live="polite")
			button.c-form__submit.button.button--black.success-hide(data-wait="Минуту...") Изменить пароль
