public/settings.html
<!doctype html><html lang="ru"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"><meta name="format-detection" content="telephone=no"><meta charset="utf-8"><title>Настройка акаунта</title><meta name="description" content=""><script defer="defer" src="/assets/js/vendors.js"></script><script defer="defer" src="/assets/js/app.js"></script><link href="/assets/css/vendors.css" rel="stylesheet"><link href="/assets/css/app.css" rel="stylesheet"></head><body class="body body--grey"><div id="app"><header class="h-lk"><div class="h-lk__container container container--lk"><div class="row"><div class="h-lk__logo-wrp col-lg-3"><a class="h-lk__logo" href="#"><img src="/assets/img/logotype/logotype.svg" alt=""></a></div><div class="h-lk__parts-wrp col-md-12 col-lg-9"><div class="h-lk__part h-lk__part--company h-lk__part--hidden-xs"><p class="h-lk__part-bold">Компания</p><p class="h-lk__part-thin">Название компании</p></div><div class="h-lk__part h-lk__part--employee h-lk__part--hidden-xs"><p class="h-lk__part-bold">Сотрудник</p><p class="h-lk__part-thin">Лазарев И.В.<span>Менеджер по продажам</span></p></div><div class="h-lk__part h-lk__part--order-number h-lk__part--bordered order-number"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><div class="h-lk__part h-lk__part--bordered h-lk__part--sum"><p class="h-lk__part-bold">Сумма заказа</p><p class="h-lk__part-thin">3499 &#8381;</p></div><div class="h-lk__part h-lk__part--side h-lk__part--bordered"><a class="logout-btn" href="#"><span>Выйти</span></a><a class="nav__btn-toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></a></div></div></div></div></header><div class="container"><div class="row"><div class="col-md-12 col-lg-3"><div style="height:100%"><div class="js-height-clearfix"></div><nav class="sidebar sidebar--lk"><a class="btn-prev" href="#">Вернуться в каталог</a><div class="sidebar__hidden-xs"><div class="order-number order-number--lined"><p class="order-number__header">Ваш заказ</p><p class="order-number__number">14</p></div><a class="warning-link" href="#">Закончить оформление заказа</a><ul class="sidebar__list"><li class="sidebar__item"><p class="sidebar__link sidebar__link--active">Текущие заказы</p></li><li class="sidebar__item"><a class="sidebar__link" href="#">История заказов</a></li></ul><ul class="sidebar__list"><li class="sidebar__item"><a class="sidebar__link" href="#">Сменить пароль</a></li><li class="sidebar__item"><a class="sidebar__link" href="#">Настроить акаунт</a></li></ul></div></nav></div></div><div class="col-md-12 col-lg-9 white-bg"><div class="lk"><p class="page-title">Настройка акаунта</p><div class="const-setting"><div class="const-setting__item"><p class="const-setting__title">Название компании</p><p class="const-setting__value const-setting__value--company">ООО “Название юридического лица”</p></div><div class="const-setting__item const-setting__item--line"><p class="const-setting__title">Текущая скидка</p><p class="const-setting__value">15%</p></div><div class="const-setting__item const-setting__item--line"><p class="const-setting__title">Дата регистрации в системе</p><p class="const-setting__value">12 марта 2020</p></div></div><form class="c-form" method="post" action="/assets/data/message-success.json" novalidate><div class="c-form__section"><div class="input-line"><p class="input-line__label input-line__label--mgb">Тип бизнеса</p><div class="select"><select name="business-type"><option value="1">Магазин часов</option><option value="2">Магазин часов</option><option value="3">Магазин часов</option><option value="4">Магазин часов</option></select></div></div></div><div class="c-form__section"><p class="form-title">Информация о доставке</p><div class="c-form__address-line"><div class="input-line"><p class="input-line__label">Страна</p><input class="input-line__input" name="country" required data-value-missing="Пожалуйста, заполните поле" data-value-invalid="Пожалуйста введите корректное значение"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="input-line"><p class="input-line__label">Город</p><input class="input-line__input" name="city" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="input-line"><p class="input-line__label">Улица</p><input class="input-line__input" name="street" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div></div><div class="c-form__address-line"><div class="input-line"><p class="input-line__label">Индекс</p><input class="input-line__input" name="zipcode" required pattern="[0-9]{6}" data-value-missing="Пожалуйста, заполните поле" data-value-invalid="Индекс должен содержать только 6 цифр"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="c-form__three"><div class="input-line"><p class="input-line__label">Дом</p><input class="input-line__input" name="house" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div><div class="input-line"><p class="input-line__label">Корпус</p><input class="input-line__input" name="build"></div><div class="input-line"><p class="input-line__label">Офис</p><input class="input-line__input" name="office"></div></div></div><div class="input-line"><p class="input-line__label">Комментарий по доставке</p><textarea class="input-line__input input-line__input--textarea" name="delivery-comment" placeholder="Напишите ваш комментарий"></textarea></div></div><div class="c-form__section"><p class="form-title">Контактная информация клиента</p><div class="c-form__contacts-line"><div class="input-line"><p class="input-line__label">ФИО</p><input class="input-line__input" name="fio" required data-value-missing="Пожалуйста, заполните поле"><p class="c-form__inline-error hidden" aria-live="polite"></p></div></div><div class="c-form__contacts-line"><div class="input-line"><p class="input-line__label">Email</p><input class="input-line__input" type="email" name="email" required data-value-missing="Пожалуйста, заполните поле" data-value-invalid="Формат: mail@mail.ru"><p class="c-form__inline-error hidden" aria-live="polite"></p><p class="c-form__inline-descr">На указанный адрес, вам придет доступ к личному кабинету</p></div><div class="input-line"><p class="input-line__label">Телефон</p><input class="input-line__input input-line__input--tel" type="tel" name="phone" required minlength="16" data-value-missing="Пожалуйста, заполните поле" data-value-invalid="Формат: +7 (___) ___-__-__"><p class="c-form__inline-error hidden" aria-live="polite"></p></div></div></div><div class="c-form__section"><p class="form-title">Информационная рассылка</p><label class="check"><input class="check__input" type="checkbox" name="agree-info"><span class="check__label">Я хочу получать информационную рассылку от компании</span></label></div><button class="c-form__submit button button--black success-hide" data-wait="Минуту...">Сохранить изменения</button></form></div></div></div></div><footer class="footer"><div class="container"><div class="logotype-block"><a class="logotype-block__wrapper" href="#" title="Stailer group"><img class="logotype-block__image" src="/assets/img/logotype/logo-white.svg"></a></div><nav class="nav nav--large-mb"><ul class="nav__list"><li class="nav__item"><a class="nav__link nav__link--light" href="catalog.html" alt="Каталог">Каталог</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="about.html" alt="О нас">О нас</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="terms.html" alt="Условия сотрудничества">Условия сотрудничества</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="delivery.html" alt="Доставка">Доставка</a></li><li class="nav__item"><a class="nav__link nav__link--light" href="contacts.html" alt="Контакты">Контакты</a></li></ul></nav><ul class="copyright"><li class="copyright__item copyright--order">&#169; 2015-21 Stailer</li><li class="copyright__item">Malaya Pirogovskaya str,<br>119435 Moscow, Russia</li><li class="copyright__item"><a class="copyright__link" href="tel:+74952800798" title="Позвоните нам">Tel: +7 495 280–07–98</a></li><li class="copyright__item"><a class="copyright__link" href="mailto:cis@stailer.com" title="Напишите нам">E-mail: cis@stailer.com</a></li></ul><ul class="footer__privacy"><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Правовая информация</a></li><li class="footer__privacy-item"><a class="footer__privacy-link" href="#">Обработка персональных данных</a></li></ul></div></footer></div><div class="btn-to-top"><div class="btn-to-top__wrap"><img src="/assets/img/icons/to-top.png"></div></div></body></html>

src/pug/pages/settings.pug
extends ../layout/lk-layout

block variables
	- var title = 'Настройка акаунта';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Настройка акаунта
		.const-setting
			.const-setting__item
				p.const-setting__title Название компании
				p.const-setting__value.const-setting__value--company ООО “Название юридического лица”
			.const-setting__item.const-setting__item--line
				p.const-setting__title Текущая скидка
				p.const-setting__value 15%
			.const-setting__item.const-setting__item--line
				p.const-setting__title Дата регистрации в системе
				p.const-setting__value 12 марта 2020
		form.c-form(method="post", action="/assets/data/message-success.json", novalidate)
			.c-form__section
				.input-line
					p.input-line__label.input-line__label--mgb Тип бизнеса
					.select
						select(name="business-type")
							option(value="1") Магазин часов
							option(value="2") Магазин часов
							option(value="3") Магазин часов
							option(value="4") Магазин часов
			.c-form__section
				p.form-title Информация о доставке
				.c-form__address-line
					.input-line
						p.input-line__label Страна
						input.input-line__input(type="text", name="country", required,
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Пожалуйста введите корректное значение")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Город
						input.input-line__input(type="text", name="city", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Улица
						input.input-line__input(type="text", name="street", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
				.c-form__address-line
					.input-line
						p.input-line__label Индекс
						input.input-line__input(type="text", name="zipcode", required,
							pattern="[0-9]{6}",
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Индекс должен содержать только 6 цифр")
						p.c-form__inline-error.hidden(aria-live="polite")
					.c-form__three
						.input-line
							p.input-line__label Дом
							input.input-line__input(type="text", name="house", required,
							data-value-missing="Пожалуйста, заполните поле")
							p.c-form__inline-error.hidden(aria-live="polite")
						.input-line
							p.input-line__label Корпус
							input.input-line__input(type="text", name="build")
						.input-line
							p.input-line__label Офис
							input.input-line__input(type="text", name="office")
				.input-line
					p.input-line__label Комментарий по доставке
					textarea.input-line__input.input-line__input--textarea(name="delivery-comment", placeholder="Напишите ваш комментарий")
			.c-form__section
				p.form-title Контактная информация клиента
				.c-form__contacts-line
					.input-line
						p.input-line__label ФИО
						input.input-line__input(type="text", name="fio", required,
						data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
				.c-form__contacts-line
					.input-line
						p.input-line__label Email
						input.input-line__input(type="email", name="email", required,
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Формат: mail@mail.ru")
						p.c-form__inline-error.hidden(aria-live="polite")
						p.c-form__inline-descr На указанный адрес, вам придет доступ к личному кабинету
					.input-line
						p.input-line__label Телефон
						input.input-line__input.input-line__input--tel(type="tel", name="phone", required,
							minlength="16",
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Формат: +7 (___) ___-__-__")
						p.c-form__inline-error.hidden(aria-live="polite")
			.c-form__section
				p.form-title Информационная рассылка
				label.check
					input.check__input(type="checkbox", name="agree-info")
					span.check__label Я хочу получать информационную рассылку от компании			
			button.c-form__submit.button.button--black.success-hide(data-wait="Минуту...") Сохранить изменения
